# Data Definition Language

## Understanding data types
- `DATE`: Used to store a calendar date with year, month and day
    - The format `YYYY-MM-DD`: `2024-11-28`
    - The format `YYYY/MM/DD`
- `BOOLEAN`: Store boolean values: `true`, `false`. **NB**: All lowercase.
    - Also abbreviated `BOOL`
    - 0, 1, 2,....
        - 0 = false, 1,2... = true
    - '0', '1', '2',....
        - '0' = true
        - '1' = false
        - '2',... = error
    - 't', 'f',..
        - 't' = true
        - 'f' = false
        - 'a',... = error
    - true, false

- `Characters`: This will store a desired-length of character string
    - `VARCHAR(n)`: Store a variable-length of character string
        - It has the long name `CHARACTER VARYING(n)`
        - `name VARCHAR(4)`: insert `ab`: `ab`
    - `CHARACTER(n)`: This will store a fixed-length of `n` character strings
        - It is abbreviated as `CHAR(n)`
        - `name CHAR(4)`. insert `ab`: 

- `SERIAL`: It stores an auto-incrementing integer.
    - It is postgres specific.
    - `SERIAL` -> `INT`
    - `BIGSERIAL` -> `BIGINT`
    - `SMALLSERIAL` -> `SMALLINT`

    
### Constraint
- `PRIMARY KEY`:
    - Make it unique
    - Make it to be non null (not empty)
    - Create an index
    - **NB**: commonly sued in linking other tables via foreign keys.


### Student Enrollment Table
**NB**: A student can enroll in one or more classes.

- id: `SERIAL PRIMARY KEY`
- student_id: `INT` 
- student_first_name: `VARCHAR(100)`
- student_last_name: `VARCHAR(100)`
- class_id: `INT`
- class_name: `VARCHAR(100)`
- semester `SM01`, `SM02`: `CHAR(4)`
- feedback: `TEXT`
- enrollment_fee: `345.21`: `NUMERIC(5,2)`
- enrollment_date: `DATE`
- student_is_active: `BOOL`

### Exercise
- Build the table above.

```sql
-- CREATE THE TABLE student_enrollment
-- TODO: create this table in the student database.
--- CREATE DATABASE student;
--- Connect to the database student;
CREATE TABLE student_enrollment (
    id SERIAL PRIMARY KEY,
    student_id INT,
    student_first_name VARCHAR(100),
    student_last_name VARCHAR(100),
    class_id INT,
    class_name VARCHAR(100),
    semester  CHAR(4),
    feedback TEXT,
    enrollment_fee  NUMERIC(5,2),
    enrollment_date DATE,
    student_is_active BOOLEAN
);

```

### Self-study
More data types we will visit soon
- `time without time zone` or `time`
- `time with time zone` or `timez`
- `timestamp without time zone` or `timestamp`
- `timestamp with time zone` or `timestampz`
- `money`
- `json`
- `interval`
- `uuid`

## DROP TABLE

```sql
DROP TABLE <table-name>
-- drop with condition
DROP TABLE IF EXISTS <table-name>
```

## Constraints
> Limitations or restrictions

- CHECK
- NOT NULL
- UNIQUE
- PRIMARY KEY
- `FOREIGN KEY`

### CHECK
Evaluate whether data falls within values we specify
- syntax: `CHECK(<column-name> <condition>)`
- For example, limit the `age` of students between `18` and `20`
    - `CHECK(age BETWEEN 18 AND 20)`
    - `CHECK(age > 17 AND age < 21)`
    - `CHECK(age IN (18, 19, 20))`
**Exercise**

```sql
-- Make sure the enrollment fee is exactly `345.21`
CHECK(enrollment_fee = 345.21)
-- Make sure the semester is either `SM01` or `SMO2`
CHECK(semester IN ('SM01', 'SM02'))
-- Make sure the enrollment date is between `2024-02-12` and `2024-03-12`
CHECK(enrollment_date  BETWEEN '2024-02-12' AND '2024-03-12')
```

### Apply Check in student_enrollment table

```sql
-- CREATE THE TABLE student_enrollment
-- TODO: create this table in the student database.
--- CREATE DATABASE student;
--- Connect to the database student;
CREATE TABLE student_enrollment (
    id SERIAL PRIMARY KEY,
    student_id INT,
    student_first_name VARCHAR(100),
    student_last_name VARCHAR(100),
    class_id INT,
    class_name VARCHAR(100),
    semester  CHAR(4),
    feedback TEXT,
    enrollment_fee  NUMERIC(5,2),
    enrollment_date DATE,
    student_is_active BOOLEAN,

    -- checks
    CHECK(enrollment_fee = 345.21),
    CHECK(semester IN ('SM01', 'SM02')),
    CHECK(enrollment_date  BETWEEN '2024-02-12' AND '2024-03-12')
);

```

### Self-Study
- Research various operators used in `CHECK`

### NOT NULL
- Makes sure the column doesn't contain `NULL` values
- Fields are allowed to be empty or null by default

```sql
-- CREATE THE TABLE student_enrollment
-- TODO: create this table in the student database.
--- CREATE DATABASE student;
--- Connect to the database student;
CREATE TABLE student_enrollment (
    id SERIAL PRIMARY KEY,
    student_id INT NOT NULL,
    student_first_name VARCHAR(100),
    student_last_name VARCHAR(100),
    class_id INT NOT NULL,
    class_name VARCHAR(100),
    semester  CHAR(4),
    feedback TEXT,
    enrollment_fee  NUMERIC(5,2) NOT NULL,
    enrollment_date DATE,
    student_is_active BOOLEAN,

    -- checks
    CHECK(enrollment_fee = 345.21),
    CHECK(semester IN ('SM01', 'SM02')),
    CHECK(enrollment_date  BETWEEN '2024-02-12' AND '2024-03-12')
);
```

## UNIQUE
- If you want to prevent duplicate value in a column
- Syntax:
    - `<column-name> UNIQUE`
    - `UNIQUE(<column-1>[,<column-2,....,<column-n])`

```sql
-- CREATE THE TABLE student_enrollment
-- TODO: create this table in the student database.
--- CREATE DATABASE student;
--- Connect to the database student;
CREATE TABLE student_enrollment (
    id SERIAL PRIMARY KEY,
    student_id INT NOT NULL,
    student_first_name VARCHAR(100),
    student_last_name VARCHAR(100),
    class_id INT NOT NULL,
    class_name VARCHAR(100),
    semester  CHAR(4),
    feedback TEXT,
    enrollment_fee  NUMERIC(5,2) NOT NULL,
    enrollment_date DATE,
    student_is_active BOOLEAN,

    -- checks
    CHECK(enrollment_fee = 345.21),
    CHECK(semester IN ('SM01', 'SM02')),
    CHECK(enrollment_date  BETWEEN '2024-02-12' AND '2024-03-12'),

    -- Unique
    UNIQUE(student_id, class_id)

    -- Primary key
    --PRIMARY KEY(id)
);
```

### PRIMARY KEY
- Indirectly enforces these two constraints
    - UNIQUE
    - NOT NULL

- We have two categories
    -`Single column PRIMARY KEY`: Which column can uniquely identify rows in your table.
        - syntax:
            - `<column-name> PRIMARY KEY`.
            - `PRIMARY KEY(<column-1>)`
    - `Multi-column PRIMARY KEY`: Are there more than one column that collectively identify each row?
        - Also called `Composite PRIMARY KEY`
        - For example: Temp collector database
            - `city`, `temp_date`, `high_temp`
            ```txt
                Texas, 2023-05-02, 45
                Texas, 2023-06-10, 60
                New York, 2023-05-02, 70
                Texas, 2023-05-08, 60
            ```
            - `PRIMARY KEY(city, temp_date)`