
# Exercises
## Advanced Data Types
```sql
INSERT INTO site_user(uuid, name, role, birthdate, siblings, availability, site_settings, created_on)

VALUES ('e41e1291-33b8-4316-8a86-28a618d5c338', 'Miriam Valira','Admin', '1995-08-29','{"Dani","Louis"}', ARRAY[ARRAY['12:00:00'::TIME, '15:00:00'::TIME]] , '{"Background":"red", "notifications":"off"}','2015-09-23 08:56:00'::TIMESTAMP );


UPDATE site_user
SET active_for = EXTRACT(DAY FROM AGE(NOW(), created_on));

SELECT name, (
    CASE 
        WHEN active_for = 0
            THEN 'same day'
        WHEN active_for = 1
            THEN active_for || ' day'
        ELSE active_for || ' days'
    END 
) AS active_for
FROM site_user;

-- Task 4
-- 4
SELECT name
FROM site_user
WHERE array_length(availability, 2) > 1;